body{
	font-family: 'Lato', sans-serif;
	color:#747704;
	font-weight:300;
}
.cubImg{
	height:279px;
	width: 370px;
}
.text-muted{
	color:#BCBBBB;
}
.text-thin{
	font-weight:100;
}
.title-logo{
	margin-top:30px;
}
.title-super{
	font-size: 60px;
}
.text{
font-size:60px;
}
.col-md-12{
	weight:300px;
}
hr{
	border-top:3px solid;
	border-color: #747704;
}
